body{
	width: 900px;
	font-family: Dancing script;
	background-color: #02010A;
}

header{
	background: #5b7989;
	display: flex;
	flex-flow: row wrap;
	border-radius: 10px 10px 0px 0px;
	color: white;
	text-shadow: 0 0 2px #02010a;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

header h1{
	margin: 0 auto;
	font-size: 22px;
	text-align: center;
}

header navbar{
	margin: 0 auto;
}

header ul{
	list-style-type: none;
	padding: 0;
	display: flex;
}

header ul li{
	display: block;
	float: right;
	margin: 5%;
}

header ul li a{
	color: white;
	font-size: 22px;
	text-decoration: none;
}

#contenedor{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: 960px;
}

#principal img{
	float: left;
	margin: 4px;
	padding: 4px;
	background-color: #82C3A6;
	height: 80%;
	width: 90%;
	-webkit-box-shadow: 2px 2px 2px 2px #02010A;
}

.secundaria{
	background-color: #D5C75F;
	border: 1px;
	width: 90%;
	float: left;
	margin: 4px;
}

.secundaria img{
	width: 48%;
	height: 350px;
	margin: 4px;
	-webkit-box-shadow: 2px 2px 2px 2px #02010A;
}

#casino{
	-webkit-transform: rotate(0deg);
	transition: rotate 3s;
}

#casino:hover{
	box-shadow: #82C3A6;
	border: 2px;
	-webkit-transform: rotate(10deg);
}

#saxoplayer:hover{
	-webkit-transform: translate(20px,-5px);
	background-color: #82c3a6;
	border: 2px;
}

footer{
	border-radius: 0 0 10px 10px;
	background-color: #C6D5C5;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	font-size: 18px;
}

footer [id^="columna"]{
	width: 22%;
	margin: 2px 2px 4px 2px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

article h2{
	margin: 5px 0px; 
	text-align: center;
}

#columna1{
	margin-left: 4px;
}

#contacto{
	width: 100%;
	margin: 2px 0px;
}

#contacto p{
	margin: 0 auto;
	padding: 2px;
	font-size: 15px;
	text-align: center;
}

#columna2 p{
	margin: 2px 0px;
	width:50%;
	font-size: 16px;
}

#socialMedia{
	display: flex;
	flex-direction: inline;
	justify-content: flex-start;
}

#socialMedia a{
	float: left;
	width: 33%;
}

#autor{
	float: left;
	margin-left: -10%;
	margin: 0px -10%;
}

#autor p{
	margin: 0px;
	font-size: 13px;
}

@media screen and (max-width: 900px){
	#contenedor{
		width: 100%;
	}
	
	#principal img{
		width: 100%;
	}
	
	.secundaria img{
		width: 100%;
		height: 400px;
	}
	
	footer{
		flex-direction: column;
		flex: 1 100%;
		margin-left: 0px;
	}
	
	#socialMedia a{
		flex: 1 30%;
	}
}